.about-us {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-us .div {
  background-color: #ffffff;
  width: 1440px;
  height: 5015px;
  position: relative;
}

.about-us .frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  top: 30px;
  left: 120px;
  display: inline-flex;
  position: absolute;
}

.about-us .group {
  position: relative;
  width: 1200px;
  height: 46px;
}

.about-us .group-2 {
  position: absolute;
  width: 133px;
  height: 27px;
  top: 10px;
  left: 0;
}

.about-us .logo {
  position: absolute;
  width: 87px;
  height: 27px;
  top: 0;
  left: 46px;
}

.about-us .img {
  position: absolute;
  width: 40px;
  height: 27px;
  top: 0;
  left: 0;
}

.about-us .group-3 {
  position: absolute;
  width: 423px;
  height: 29px;
  top: 9px;
  left: 191px;
}

.about-us .frame-2 {
  align-items: center;
  gap: 8px;
  padding: 4px 8px 4px 12px;
  top: 0;
  left: 0;
  border-radius: 6px;
  display: inline-flex;
  position: absolute;
}

.about-us .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .vuesax-linear-arrow {
  position: relative;
  width: 12px;
  height: 12px;
}

.about-us .div-wrapper {
  align-items: center;
  gap: 8px;
  padding: 4px 8px 4px 12px;
  top: 0;
  left: 135px;
  border-radius: 6px;
  display: inline-flex;
  position: absolute;
}

.about-us .frame-3 {
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  top: 0;
  left: 226px;
  border-radius: 6px;
  display: inline-flex;
  position: absolute;
}

.about-us .frame-4 {
  align-items: center;
  gap: 8px;
  padding: 4px 12px;
  top: 0;
  left: 346px;
  border-radius: 6px;
  display: inline-flex;
  position: absolute;
}

.about-us .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .overlap-wrapper {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 3px;
  left: 979px;
}

.about-us .overlap {
  position: relative;
  width: 45px;
  height: 42px;
}

.about-us .shopping-bag {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 6px;
  left: 0;
}

.about-us .overlap-group-wrapper {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 0;
  left: 29px;
}

.about-us .overlap-group {
  position: relative;
  width: 14px;
  height: 14px;
  background-image: url(https://c.animaapp.com/ptNyzyz2/img/ellipse-591.png);
  background-size: 100% 100%;
}

.about-us .element {
  position: absolute;
  width: 5px;
  height: 7px;
  top: 3px;
  left: 5px;
}

.about-us .group-4 {
  position: absolute;
  width: 157px;
  height: 46px;
  top: 0;
  left: 1045px;
}

.about-us .overlap-2 {
  position: relative;
  width: 155px;
  height: 46px;
  background-color: #2b8641;
  border-radius: 50px;
}

.about-us .p {
  position: absolute;
  width: 105px;
  top: 13px;
  left: 25px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.about-us .line {
  position: relative;
  width: 1200px;
  height: 1px;
  margin-bottom: -0.5px;
}

.about-us .group-5 {
  position: absolute;
  width: 1440px;
  height: 626px;
  top: 4389px;
  left: 0;
}

.about-us .lorem-ipsum-dolor {
  position: absolute;
  width: 852px;
  height: 106px;
  top: 324px;
  left: 291px;
  object-fit: cover;
}

.about-us .text-wrapper-3 {
  width: 967px;
  top: 454px;
  left: 236px;
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  line-height: 23px;
  position: absolute;
  font-family: "Inter", Helvetica;
  text-align: center;
  letter-spacing: 0;
}

.about-us .group-6 {
  position: absolute;
  width: 136px;
  height: 32px;
  top: 254px;
  left: 653px;
}

.about-us .overlap-3 {
  position: relative;
  width: 134px;
  height: 32px;
  background-color: #2b8641;
  border-radius: 50px;
}

.about-us .text-wrapper-4 {
  position: absolute;
  top: 7px;
  left: 26px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .home-about-us {
  position: absolute;
  top: 117px;
  left: 119px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .span {
  color: #757575;
}

.about-us .text-wrapper-5 {
  color: #212121;
}

.about-us .group-wrapper {
  position: absolute;
  width: 996px;
  height: 472px;
  top: 596px;
  left: 222px;
  background-image: url(https://c.animaapp.com/ptNyzyz2/img/rectangle-2201.png);
  background-size: cover;
  background-position: 50% 50%;
}

.about-us .group-7 {
  position: relative;
  width: 130px;
  height: 46px;
  top: 224px;
  left: 437px;
}

.about-us .frame-wrapper {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: #2b8641;
  border-radius: 50px;
}

.about-us .frame-5 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: 14px;
}

.about-us .text-wrapper-6 {
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #2b8641;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .group-8 {
  position: absolute;
  width: 479px;
  height: 314px;
  top: 1204px;
  left: 222px;
}

.about-us .digital-lorem-ipsum {
  position: absolute;
  width: 475px;
  top: 61px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 56px;
}

.about-us .text-wrapper-7 {
  font-weight: 600;
}

.about-us .text-wrapper-8 {
  font-weight: 200;
}

.about-us .text-wrapper-9 {
  position: absolute;
  width: 434px;
  top: 190px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #767676;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.about-us .frame-6 {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 26px;
  top: 0;
  left: 0;
  background-color: #2b8641;
  border-radius: 50px;
  display: inline-flex;
  position: absolute;
}

.about-us .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .group-9 {
  position: absolute;
  width: 479px;
  height: 314px;
  top: 1735px;
  left: 730px;
}

.about-us .group-10 {
  position: absolute;
  width: 479px;
  height: 314px;
  top: 2523px;
  left: 222px;
}

.about-us .group-11 {
  position: absolute;
  width: 1440px;
  height: 838px;
  top: 2991px;
  left: 0;
  background-image: url(https://c.animaapp.com/ptNyzyz2/img/rectangle-2428.png);
  background-size: 100% 100%;
}

.about-us .group-12 {
  position: absolute;
  width: 786px;
  height: 94px;
  top: 162px;
  left: 329px;
}

.about-us .lorem-ipsum-dolor-2 {
  position: absolute;
  width: 480px;
  top: 0;
  left: 151px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f8f8f8;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.about-us .text-wrapper-11 {
  width: 782px;
  top: 52px;
  left: 0;
  font-weight: 400;
  color: #dedede;
  font-size: 14px;
  line-height: 21px;
  position: absolute;
  font-family: "Inter", Helvetica;
  text-align: center;
  letter-spacing: 0;
}

.about-us .group-13 {
  position: absolute;
  width: 999px;
  height: 339px;
  top: 350px;
  left: 225px;
}

.about-us .group-14 {
  position: relative;
  width: 1009px;
  height: 339px;
}

.about-us .text-wrapper-12 {
  position: absolute;
  width: 890px;
  top: 52px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #dedede;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 23px;
}

.about-us .text-wrapper-13 {
  position: absolute;
  width: 899px;
  top: 7px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #f8f8f8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}

.about-us .group-15 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 963px;
}

.about-us .vector-wrapper {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 247px;
  left: 963px;
}

.about-us .vector {
  position: absolute;
  width: 20px;
  height: 11px;
  top: 13px;
  left: 8px;
}

.about-us .img-wrapper {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 303px;
  left: 963px;
}

.about-us .group-16 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 191px;
  left: 963px;
}

.about-us .text-wrapper-14 {
  position: absolute;
  width: 565px;
  top: 198px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #f8f8f8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}

.about-us .text-wrapper-15 {
  position: absolute;
  width: 909px;
  top: 258px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #f8f8f8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}

.about-us .text-wrapper-16 {
  position: absolute;
  width: 482px;
  top: 318px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #f8f8f8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
}

.about-us .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 7px 26px;
  position: absolute;
  top: 110px;
  left: 682px;
  background-color: #2b8641;
  border-radius: 50px;
}

.about-us .group-17 {
  position: absolute;
  width: 726px;
  height: 319px;
  top: 3966px;
  left: 361px;
}

.about-us .text-wrapper-17 {
  position: absolute;
  top: 0;
  left: 324px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #515151;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .ellipse {
  position: absolute;
  width: 47px;
  height: 47px;
  top: 219px;
  left: 335px;
}

.about-us .text-wrapper-18 {
  width: 557px;
  top: 31px;
  left: 80px;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  line-height: normal;
  position: absolute;
  font-family: "Inter", Helvetica;
  text-align: center;
  letter-spacing: 0;
}

.about-us .text-wrapper-19 {
  width: 718px;
  top: 71px;
  left: 0;
  font-weight: 400;
  color: #212121;
  font-size: 14px;
  line-height: 23px;
  position: absolute;
  font-family: "Inter", Helvetica;
  text-align: center;
  letter-spacing: 0;
}

.about-us .group-18 {
  position: absolute;
  width: 56px;
  height: 8px;
  top: 311px;
  left: 331px;
}

.about-us .ellipse-2 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 16px;
  background-color: #2b8641;
  border-radius: 4px;
}

.about-us .ellipse-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 48px;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.about-us .ellipse-4 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.about-us .ellipse-5 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 32px;
  background-color: #e7e7e7;
  border-radius: 4px;
}

.about-us .text-wrapper-20 {
  position: absolute;
  top: 275px;
  left: 325px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .img-2 {
  position: absolute;
  width: 564px;
  height: 366px;
  top: 1197px;
  left: 730px;
  object-fit: cover;
}

.about-us .img-3 {
  position: absolute;
  width: 408px;
  height: 448px;
  top: 1617px;
  left: 235px;
}

.about-us .img-4 {
  position: absolute;
  width: 433px;
  height: 325px;
  top: 2132px;
  left: 210px;
  object-fit: cover;
}

.about-us .img-5 {
  position: absolute;
  width: 493px;
  height: 507px;
  top: 2178px;
  left: 756px;
  object-fit: cover;
}
